* {
	box-sizing: inherit;
	color: #444;
}
*:not(pre) { font-family: Roboto, sans-serif; }
*:not(h1) { font-size: 17pt; }

h1 { color: #5B258E; letter-spacing: 2px; }
a:hover h1 { color: #A179C7; }

body { margin: 20px; background-color: #F3FbF3; }

a { text-decoration: none; color: #A52A2A; }
label.current, a.current, a:hover { text-decoration: underline; color: #D91313; }

.center { margin: auto; }
div.center { text-align: center; }

.display-none { display: none; }
.visibility-hidden { visibility: hidden; }
/* .float-right { float: right; } */

.github-icon { top: 2px; position: relative; opacity: 0.3; }

fieldset {
	padding: 0 11px 7px 11px;
	border: 1px solid #A9A9A9;
	width: fit-content;
	border-radius: 10px;
}

legend {
	margin: auto;
	padding: 4px 10px 2px 10px;
	border: 1px solid #A9A9A9;
	border-bottom: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: bold;
}

fieldset, legend {
	background-color: #F3F9FF;
}

.chords > label {
	margin-left: 30px;
}

.chords > label > span {
	display: inline-grid;
}