@font-face {
	font-family: DigitalDismay;
	src: url("../fonts/Digital-Dismay.otf") format("opentype");
}

* {
	box-sizing: inherit;
	color: #444;
}
*:not(pre) { font-family: Roboto, sans-serif; }
*:not(h1) { font-size: 14pt; }
pre a, pre b { font-family: inherit; }

h1 { color: #4B1B79; letter-spacing: 2px; }
a:hover h1 { text-decoration: underline; }

body { margin: 20px; background-color: #F3FbF3; }
body.music { line-height: 90%; }

a { text-decoration: none; color: #A52A2A; }
pre a[title] { color: #BD3232; text-decoration: overline; }

label.current, a.current, a:hover { text-decoration: underline; color: #D91313; }

.center { margin: auto; }
div.center { text-align: center; }
table.center { margin: auto; }

.display-none { display: none; }
.visibility-hidden { visibility: hidden; }
/* .float-right { float: right; } */

.github-icon { top: 2px; position: relative; opacity: 0.3; }

fieldset {
	padding: 0 11px 7px 11px;
	border: 1px solid #A9A9A9;
	width: fit-content;
	border-radius: 10px;
}

legend {
	margin: auto;
	padding: 4px 10px 2px 10px;
	border: 1px solid #A9A9A9;
	border-bottom: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: bold;
}

fieldset, legend {
	background-color: #F3F9FF;
}

.chords > label {
	margin-left: 25px;
}

.chords > label > span {
	display: inline-grid;
}

.ico-zoom-out, .ico-zoom-in {
	opacity: 0.7;
	cursor: pointer;
	position: relative;
	top: 4px;
}

input[type=range] {
	width: 200px;
}

.HIDE { display: none !important; }

.display {
	font-family: DigitalDismay;
	font-size: 2em;
	letter-spacing: 3px;
	color: #101010;
	background-color: #A7B7AE;
	padding: 3px 12px 0px 16px;
	border: 3px solid #8C8C8C;
	opacity: 0.9;
}

.metronome {
    width: 40px;
    height: 40px;
    opacity: 0.2;
    vertical-align: middle;
}

.display-current-beat {
	font-family: DigitalDismay;
    margin-top: 5px;
	width: 30px;
	height: 22px;
	font-size: 0.9em;
}

table.floater-metronome {
	position: fixed;
	left: 700px;
}
